<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<pre>

    To ,
    The Human Resources Manager ,
    {{pro.company_name}}
    {{pro.company_addr}}
    Date : {{pro.d_day}}/{{pro.d_month}}/{{pro.d_year}} 
    
    From ,
    {{pro.your_name}}
    Kumarigal, Kathmandu
    
    Subject : {{pro.subject}}
    
    Respected Sir / Madam ,
    
    This is to bring in your notice that I am {{pro.your_name}}, studying in {{pro.campus_name}}. This
    letter is in regard to the opening you have posted on the website for internship .
   
    I am writing this letter to bring in your concern that I want to expand my practical knowledge in
    the IT field by taking up this internship . I have vast knowledge in {{pro.skill}} and moreover I
    am familiar with the all expertise required . With this internship , I would be 
    able to bring my skills on the practice.
    
    I have attached my resume for your kind reference, and I am available for the interview procedures
    if informed a day prior.
    
    I hope to receive a response at the earliest.
    
    Yours Sincerely,
    {{pro.your_name}}
    {{pro.phone}}
    {{pro.email}}

    <img src="" alt="photo here" height="150px" width="150px" style="position: absolute; top: 0px; right: 0px;">

</pre>    
    

</body>
</html>
